@using CrimerForum.Data.Models
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SiginManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    <link rel="stylesheet" href="~/css/app.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   
    <header class="header">
        <nav class="header__nav nav">
            <div class="container">
                <div class="nav__section">
                    <a class="nav__logo" asp-controller="Home" asp-action="Index">Crimer Forum</a>
                    <ul class="nav__links">
                        <li class="nav__item">
                            <a class="nav__link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        @if (SiginManager.IsSignedIn(User))
                        {
                            <li class="nav__item dropdown">
                                <button class="dropdown__btn">Настройки</button>
                                <div class="dropdown__menu">
                                    <h6 class="dropdown__header">Профиль</h6>
                                    <a class="dropdown__item" asp-controller="Profile" asp-action="Detail">Мой аккаунт</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <span class="dropdown__divider"></span>

                                        <h6 class="dropdown__header">Admin</h6>
                                        <a class="dropdown__item" asp-controller="Forum" asp-action="Create">Создать форум</a>
                                        <a class="dropdown__item" asp-controller="Profile" asp-action="Index">Все пользователи</a>
                                    }

                                </div>
                            </li>
                        }
                        <li class="nav__item">
                            <a class="nav__link" asp-controller="Forum" asp-action="Index">Форумы</a>
                        </li>
                        @if (SiginManager.IsSignedIn(User))
                        {
                            <li class="nav__item">
                                <a class="nav__link">Привет @User.Identity.Name</a>
                            </li>
                        <li class="nav__item">
                            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
                            </form>
                        </li>
                        }
                        else
                        {
                            <li class="nav__item">
                                <a asp-controller="Account" asp-action="Login" class="nav__link">Вход</a>
                            </li>
                            <li class="nav__item">
                                <a asp-controller="Account" asp-action="Register" class="nav__link">Регистрация</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="page">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Forum - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
