@using Microsoft.AspNetCore.Identity
@model CrimerForum.VM.Account.LoginVM
@inject SignInManager<CrimerForum.Data.Models.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход в аккаунт";
}

<div>
    <section class="section login-form">
        <div class="section__header">
            <h2 class="section__title login-form__title">@ViewData["Title"]</h2>
        </div>
        <form class="form login-form__form" id="account" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="All" class="form__error"></div>
            <div class="form__control login-form__control">
                <label class="form__label login-form__lable" asp-for="@Model.Username">
                    Имя
                </label>
                <input class="form__input login-form__input"
                       placeholder="Имя"
                       asp-for="@Model.Username"
                       type="text"
                       id="Username"
                       name="Username" />
                <span asp-validation-for="@Model.Username" class="form__error"></span>
            </div>
            <div class="form__control login-form__control">
                <label class="form__label login-form__lable" asp-for="@Model.Password">
                    Пароль
                </label>
                <input class="form__input login-form__input"
                       placeholder="Пароль"
                       type="password"
                       asp-for="@Model.Password"
                       id="Password"
                       name="Password" />
                <span asp-validation-for="@Model.Password" class="form__error"></span>
            </div>
            <div class="form__control form__checkbox">
                <label class="form__lable" asp-for="@Model.RememberMe"></label>
                <input class="form__input"
                       type="checkbox"
                       asp-for="@Model.RememberMe"
                       name="RememberMe"
                       id="RememberMe" />
                @*@Html.DisplayNameFor(m => m.RememberMe)*@
            </div>
            <button class="form__submit-btn login-form__submit-btn"
                    type="submit">
                Войти
            </button>
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Нет аккаунта? Давайте создадим</a>
            </p>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
