
@model CrimerForum.VM.Account.RegisterVM
@{
    ViewData["Title"] = "Создать аккаунт";
}

<div>
    <section class="section login-form">
        <div class="section__header">
            <h2 class="section__title login-form__title">@ViewData["Title"]</h2>
        </div>
        <form asp-route-returnUrl="@ViewData["ReturnUr"]" method="post" class="form">
            <div asp-validation-summary="All" class="form__error"></div>
            <div class="form__control">
                <label class="form__label" asp-for="@Model.Email">
                    Почта
                </label>
                <input class="form__input"
                       placeholder="Почта"
                       type="email"
                       asp-for="@Model.Email"
                       id="Email"
                       name="Email" />
                <span asp-validation-for="@Model.Email" class="form__error"></span>
            </div>
            <div class="form__control">
                <label class="form__label" asp-for="@Model.Username">
                    Имя
                </label>
                <input class="form__input"
                       placeholder="Имя"
                       type="text"
                       asp-for="@Model.Username"
                       id="Username"
                       name="Username" />
                <span asp-validation-for="@Model.Username" class="form__error"></span>
            </div>
            <div class="form__control">
                <label class="form__label" asp-for="@Model.Password">
                    Пароль
                </label>
                <input class="form__input"
                       asp-for="@Model.Password"
                       placeholder="Пароль"
                       type="password"
                       id="Password"
                       name="Password" />
                <span asp-validation-for="@Model.Password" class="form__error"></span>
            </div>
            <div class="form__control">
                <label class="form__lable"asp-for="@Model.ConfirmPassword">
                    Повторите пароль
                </label>
                <input class="form__input"
                       placeholder="Повторите пароль"
                       type="password"
                       asp-for="@Model.ConfirmPassword"
                       id="ConfirmPassword"
                       name="ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="form__error"></span>
            </div>
            <button class="form__submit-btn" type="submit">Создать</button>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
