@model CrimerForum.VM.Post.PostIndexVM

<h1>@Model.Title</h1>

<div>
    Author: @Model.AuthorName (@Model.AuthorRating)
    Created: @Model.DatePosted
</div>

@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
    <div>
        <div>
            <p>Reply Author: @reply.AuthorName (@reply.AuthorRating)</p>
            <p>Reply Created: @reply.Created</p>
        </div>
        <div>
            Reply: @reply.RepliesContent
        </div>
    </div>
    }
}