@model CrimerForum.VM.Forum.ForumIndexVM
@{
    ViewData["Title"] = "Форумы";
}

<div>
    <section class="section forums">
        <div class="section__header">
            <h2 class="section__title forums__title">@ViewData["Title"]</h2>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <tr class="table__row">
                    <th class="table__cell">Форум</th>
                    <th class="table__cell">Описание</th>
                    <th class="table__cell">Кол-во постов</th>
                </tr>
                @foreach (var forum in Model.ForumList)
                {
                    <tr class="table__row">
                        <td class="table__cell">
                            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id" class="forum__link">
                                @forum.Title
                            </a>
                        </td>
                        <td class="table__cell">@forum.Description</td>
                        <td class="table__cell">@forum.PostsCount</td>
                    </tr>
                }
            </table>
        </div>
    </section>

</div>
